<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Rails | Login </title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

  <!-- Toastr style -->
  <link href="css/plugins/bootstrapSocial/bootstrap-social.css" rel="stylesheet">

  <link href="css/animate.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

</head>
<body class="gray-bg">
<div class="loginColumns animated fadeInDown">
  <div class="row">
    <div class="col-md-6">
      <h2 class="font-bold">Welcome to Rails Admin Panel</h2>
      <p>
        Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <p>
        When an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      <p>
        <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small>
      </p>
    </div>
    <div class="col-md-6">
      <div class="ibox-content">
        <div class="panel-heading">
          <h2 class="text-center m-t-10"><strong>Password Reset</strong> </h2>
        </div>



        <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>

            <% if @user.errors.any? %>
                <div class="error_messages">
                  <h2>Form is invalid</h2>
                  <ul>
                    <% for message in @user.errors.full_messages %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>


            <div class="form-group ">
              <%= f.password_field :password, :placeholder => 'New Password', :class => 'form-control' %>
            </div>
            <div class="form-group ">
              <%= f.password_field :password_confirmation, :placeholder => 'Repeat Password', :class => 'form-control' %>
            </div>

            <%= f.submit "Update Password", :class => "btn btn-primary block full-width m-b" %>

        <% end %>



      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      Copyright &copy; Rails Admin Panel
    </div>
    <div class="col-md-6 text-right">
      <small> &copy; 2016 - <%= Date.today.year %> </small>
    </div>
  </div>
</div>

<!-- End of Modal -->
<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>