<body class="pace-done fixed-sidebar skin-4">

<div id="wrapper">

  <%= render 'includes/sideBar' %>

  <div id="page-wrapper" class="gray-bg dashbard-1">

    <%= render 'includes/topMenu' %>

    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
        <h2 class="text-center"><b><% "InfancyIT" %> </b></h2>
      </div>
    </div>

    <%= yield %>

    <%= render 'includes/footer' %>

  </div>
</div>

<%= render 'includes/js' %>

</body>